body, html{
  margin: 0;
  gap: 10vw;
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: rgb(38, 38, 38);
}
#header{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(5px);
  width: fit-content;
  height: 99vh;
  background-color: rgb(52, 52, 52);
  border: 1px solid rgba(181, 181, 181, 0.417);
  padding: 2px;
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}
#work{
  border-radius: 20px;
  background: linear-gradient(to bottom, rgb(41, 41, 41), rgb(24, 24, 24));
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 75vw;
  height: 80vh;
  border: 1px solid rgba(181, 181, 181, 0.417);
  box-shadow: 0px 10px 30px rgba(0,0,0,1);
}

button{
  display: flex;
  height: 50%;
  width: 6%;
  background-color: rgba(0, 0, 0, 0.282);
}

a{
  color: rgb(0, 113, 26);
  transition: transform 0.2s;
}

button{
  display: flex;
  height: 5%;
  width: 100%;
}

a:hover{
  transform: scale(1.1);
}